#page-home {
  .slider-home {
    .slide {
      position: relative;
      .slide-description {
        color: #FFF;
        font-size: rem-calc(25);
        font-weight: 300;
        padding: rem-calc(40);
        background-color: #000;
        min-height: rem-calc(195);
        @include breakpoint (medium) {
          position: absolute;
          bottom: rem-calc(35);
          left: 0;
          background-color: rgba(10, 10, 10, 0.65);
          width: 100%;
          padding: rem-calc(40 40 40) 10%;
          min-height: 0;
        }
        @include breakpoint (large) {
          padding: rem-calc(60 60 60) 15%;
          width: 50%;
          bottom: 40%;
        }

        &::after {
           @include breakpoint (large) {
            content: "";
            display: block;
            width: rem-calc(125);
            height: rem-calc(2);
            background-color: #FFF;
            margin-top: rem-calc(40);
          }
        }
      }
    }
  }

  .bx-wrapper {
    .bx-viewport {
      left: 0;
    }
    .bx-pager {
      position: static;
      background-color: #000;
      @include breakpoint (medium) {
        position: absolute;
        background-color: rgba(10, 10, 10, 0.65);
        bottom: 0;
        padding: rem-calc(5);
      }
      @include breakpoint (large) {
        bottom:  calc(40% - 35px);
        padding: rem-calc(5);
        width: 50%;
        text-align: right;
      }
      .bx-pager-item {
        .bx-pager-link {
          width: rem-calc(15);
          height: rem-calc(15);
          margin: rem-calc(5);
          background-color: #fff;
          border-radius: 0;
          text-align: left;

          &:hover {
            background-color: #aaa;
          }

          &.active {
            background-color: #02c7ff;
          }

        }
      }
    }
  }


  .orbit {
    & .orbit-container {
      height: auto !important;
    }
    & .orbit-slide {
      & .orbit-caption {
        width: 50%;
        bottom: 50%;
        font-size: rem-calc(25);
        font-weight: 300;
        padding: rem-calc(70 70 70 0);
        background-color: rgba(10, 10, 10, 0.8);
        & .columns::after {
          content: "";
          display: block;
          width: rem-calc(125);
          height: rem-calc(2);
          background-color: #FFF;
          margin-top: rem-calc(40);
        }
      }
    }

    & .orbit-bullets {
      background-color: rgba(10, 10, 10, 0.8);
      position: absolute;
      left: 0;
      height: rem-calc(35px);
      width: 50%;
      bottom: calc(50% - 35px);
      padding: 0 10px 0 0;
      text-align: right;
      margin: 0;

      button {
        width: rem-calc(15);
        height: rem-calc(15);
        margin: rem-calc(5);
        background-color: #fff;
        border-radius: 0;

        &:hover {
          background-color: #aaa;
        }

        &.is-active {
          background-color: #02c7ff;
        }
      }
    }
  }

  & .home-content {
    padding-top: rem-calc(100);
    @include breakpoint(medium) {
      padding-top: rem-calc(200);
    }

    & .products-teaser {
      display: inline-block;
      margin-top: rem-calc(85);
      margin-bottom: rem-calc(85);
      font-size: rem-calc(30);
      font-weight: 100;
      text-align: center;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      text-transform: uppercase;

      & strong {
        font-weight: 400;
        display: block;
      }
      @include breakpoint (medium up){
        &::before {
          content: "";
          display: block;
          width: rem-calc(20);
          height: rem-calc(20);
          border-top: 5px solid #545252;
          border-left: 5px solid #545252;
          position: absolute;
          left: rem-calc(-20);
          top: rem-calc(-10);
        }

        &::after {
          content: "";
          display: block;
          width: rem-calc(20);
          height: rem-calc(20);
          border-bottom: 5px solid #545252;
          border-right: 5px solid #545252;
          position: absolute;
          right: rem-calc(-20);
          bottom: rem-calc(-10);
        }
      }
    }

    & .projetos-atlas {
      margin-top: rem-calc(100);
      background-image: url("../images/home/bg-home-projetos.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    & .link-products {
      display: block;
      height: rem-calc(300);
      width: 100%;
      color: #FFF;
      text-align: center;
      text-transform: uppercase;
      transition: all .2s ease-out;
      background-color: #838280;
      position: relative;

      & .v-a {
        @include absolute-center();
        width: 60%;
      }

      & .link-title {
        font-size: rem-calc(24);
        font-weight: 400;
        display: block;
      }

      & .link-description {
        font-size: rem-calc(16);
        font-weight: 100;
        display: block;
      }
    }

    & .link-magazine {
      display: inline-block;
      margin-top: rem-calc(125);
      margin-bottom: rem-calc(125);
      font-size: rem-calc(22);
      font-weight: 400;
      text-align: center;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      text-transform: uppercase;
      background-color: #FFF;
      padding: rem-calc(25 60);
      color: #3D3E59;
      @include breakpoint(medium) {
        font-size: rem-calc(30);
      }


      & strong {
        font-weight: 300;
        color: #02C7FF;
        white-space: nowrap;
      }
      @include breakpoint (medium up){
        &::before {
          content: "";
          display: block;
          width: rem-calc(20);
          height: rem-calc(20);
          border-top: 5px solid #fff;
          border-left: 5px solid #fff;
          position: absolute;
          left: rem-calc(-20);
          top: rem-calc(-20);
        }

        &::after {
          content: "";
          display: block;
          width: rem-calc(20);
          height: rem-calc(20);
          border-bottom: 5px solid #fff;
          border-right: 5px solid #fff;
          position: absolute;
          right: rem-calc(-20);
          bottom: rem-calc(-20);
        }
      }
    }

    & .fb-page,
    & .fb-page span,
    & .fb-page span iframe[style] {
        width: 100% !important;
    }

    & .fb-page {
      margin-bottom: rem-calc(30);
    }

    & .environment {
      background-color: #FFF;
      padding: rem-calc(50 40);

      & .environment-teaser {
        font-size: rem-calc(25);
        font-weight: 400;
        line-height: 1.3;

        & strong {
          color: #02C7FF;
          font-weight: 400;
        }
      }

      & hr {
        border-color: #02C7FF;
        border-width: 2px;
        width: rem-calc(100);
        margin: rem-calc(40 0);
      }

      & .environment-text {
        font-size: rem-calc(20);
        font-weight: 300;
      }

      & .button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
      }
    }

    & .send-your-project {
      background-color: #FFF;
      padding: rem-calc(50 40);

      & .project-teaser {
        font-size: rem-calc(25);
        font-weight: 400;
        line-height: 1.3;

        & strong {
          color: #02C7FF;
          font-weight: 400;
        }
      }

      & hr {
        border-color: #02C7FF;
        border-width: 2px;
        width: rem-calc(100);
        margin: rem-calc(40 0);
      }

      & .project-text {
        font-size: rem-calc(20);
        font-weight: 300;
      }

      & .button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-transform: uppercase;
      }
    }

    & .instagram-feed {
      background-color: #FFF;
      padding: rem-calc(50 40);
      font-size: rem-calc(30);
      font-weight: 300;

      & .instagram-text {
        margin-bottom: rem-calc(50);
        & strong {
          color: #02C7FF;
          font-weight: 400;
          font-size: rem-calc(25);
          display: block;
        }
      }

      & .instagram-link {
        color: #505050;
        font-weight: 400;
        border-bottom: 1px solid transparent;

        &:hover, &:focus {
          border-bottom-color: #02C7FF;
        }
      }
    }
  }
}