#page-full-width {
  @include grid-row();

  & .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    .row {
      margin-bottom: rem-calc(80);
    }

    h2 {
      font-size: rem-calc(40);
      font-weight: 300;
      position: relative;
      line-height: 1.3;
      padding-bottom: rem-calc(13);
      margin-bottom: rem-calc(30);
      text-transform: uppercase;
      color: #505050;

      & strong {
        font-weight: 400;
      }

      &::after {
        content: "";
        position: absolute;
        height: rem-calc(1);
        width: rem-calc(70);
        background-color: #02c7ff;
        bottom: 0;
        left: 0;
      }
    }
  }

  blockquote {
    font-size: rem-calc(30);
    font-weight: 300;
    margin-left: rem-calc(100);
    position: relative;
    line-height: 1.3;
    &::before {
      @extend .fa;
      content: "\f10d";
      font-size: rem-calc(80);
      position: absolute;
      left: -100px;
      top: 0;
    }
  }

  p {
    color: #626262;
  }

  & .embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  & .embed-container iframe,
  & .embed-container object,
  & .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .fale-conosco {
    address {
      font-style: normal;

      & .fa-phone, & .fa-envelope {
        font-size: rem-calc(20);
        color: #55C4F0;
        margin-right: rem-calc(10);
      }

      & .link-phone, & .link-email {
        color: #505050;
        font-size: rem-calc(20);
        font-weight: 400;
        border-bottom: 1px solid transparent;

        &:hover, &:focus {
          color: #505050;
          border-bottom-color: #29c2f1;
        }

      }

      & .address-text {
        font-size: rem-calc(12);
        font-weight: 300;
        display: inline-block;
        margin: rem-calc(20 0);
      }

      & .fa-instagram, & .fa-facebook-square {
        font-size: rem-calc(20);
        color: #505050;
        margin-right: rem-calc(10);
      }

      & .social-text {
        font-size: rem-calc(15);
        font-weight: 300;
      }

      & a {
        &:hover .fa, &:focus .fa {
          color: #29c2f1;
        }
      }
    }
  }

  .contact-form {
    .row {
      margin-bottom: 0;
    }

    ::-webkit-input-placeholder { /* Chrome */
      color: #4f4f4f;
      transition: opacity 250ms ease-in-out;
    }
    :focus::-webkit-input-placeholder {
      opacity: 0.5;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #4f4f4f;
      transition: opacity 250ms ease-in-out;
    }
    :focus:-ms-input-placeholder {
      opacity: 0.5;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #4f4f4f;
      opacity: 1;
      transition: opacity 250ms ease-in-out;
    }
    :focus::-moz-placeholder {
      opacity: 0.5;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
      color: #4f4f4f;
      opacity: 1;
      transition: opacity 250ms ease-in-out;
    }
    :focus:-moz-placeholder {
      opacity: 0.5;
    }

    input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="date"], textarea, select {
      border-color: #4F4F4F;
      padding: rem-calc(18);
      text-transform: uppercase;
      font-size: rem-calc(20);
      font-weight: 300;
      height: 100%;
    }

    select {
      height: rem-calc(62);
      padding: 0 rem-calc(30);
    }

    textarea {
      padding-top: rem-calc(15);
    }

    .text-label {
      font-size: rem-calc(20);
      font-weight: 300;
      text-transform: uppercase;
      display: block;
    }

    input[type="radio"] {
      display: none;

      & + span {
        font-size: rem-calc(20);
        font-weight: 300;
        text-transform: uppercase;
        color: #505050;
        cursor: pointer;
        &::before {
          @extend .fa;
          content: "\f10c";
          font-size: rem-calc(20);
          margin-right: rem-calc(10);
        }
      }

      &:checked {
        & + span {
          &::before {
            content: "\f111";
          }
        }
      }
    }

    input[type="checkbox"] {
      display: none;

      & + span {
        font-size: rem-calc(16);
        font-weight: 300;
        text-transform: uppercase;
        color: #505050;
        cursor: pointer;
        &::before {
          @extend .fa;
          content: "\f10c";
          font-size: rem-calc(16);
          margin-right: rem-calc(10);
        }
      }

      &:checked {
        & + span {
          &::before {
            content: "\f05d";
          }
        }
      }
    }

    .wpcf7-radio, .two-columns {
      display: block;
      margin-bottom: rem-calc(20);
      @include breakpoint(medium) {
        column-count: 2;
      }
    }

    .ambient-radios {
      input[type="radio"] {
        display: none;

        & + label {
          display: block;
          font-weight: 300;
          text-transform: uppercase;
          color: #505050;
          cursor: pointer;
          text-align: center;
          &::after {
            @extend .fa;
            content: "\f10c";
            display: block;
            font-size: rem-calc(20);
            margin: auto;
          }

          & span {
            display: block;
            font-size: rem-calc(16);
            line-height: 1.2;
            margin: rem-calc(5) 0 rem-calc(15);
          }

          & img {
            display: block;
            margin: auto;
          }
        }

        &:checked {
          & + label {
            &::after {
              content: "\f111";
            }
          }
        }
      }
    }

    .ambient-images {
      background-color: #02C7FF;
      color: #FFF;
      text-align: center;
      padding: rem-calc(80 20);

      & label {
        border: 1px solid #FFF;
        display: inline-block;
        padding: rem-calc(10 20);
        text-transform: uppercase;
        font-size: rem-calc(20);
        font-weight: 300;
        color: #FFF;
        cursor: pointer;

        & .fa {
          margin-right: rem-calc(10);
        }

        & strong {
          font-weight: 500;
        }
      }

      & input[type="file"] {
        display: none;
      }

      & p {
        color: #FFF;
        font-size: rem-calc(14);
        margin-top: rem-calc(40);
        font-weight: 300;
      }
    }

    .content-recaptcha {
      float: right;
      margin-top: rem-calc(40);
    }

    input[type="submit"] {
      @extend .button;
      @extend .secondary;
      @extend .large;
      float: right;
      margin-top: rem-calc(40);
    }
  }

  .onde-comprar {
    .tabs {
      border: none;

      .tabs-title {
        border: 1px solid #4f4f4f;
        margin-right: -1px;
        @include breakpoint(small only)  {
          width: 100%;
        }

        & > a:focus, & > a[aria-selected='true'] {
          background-color: #4F4F4F;
          color: #FFF;
        }

        a {
          font-size: rem-calc(16);
          @include breakpoint(medium)  {
            font-size: rem-calc(20);
          }
          text-transform: uppercase;
          color: #4F4F4F;
          padding: rem-calc(20 40);


          .fa, .icon {
            font-size: rem-calc(40);
            vertical-align: middle;
            margin-right: rem-calc(10);
          }
        }
      }
    }
    .tabs-content {
      border: none;
      margin-top: rem-calc(40);

      .tabs-panel {
        &#sobencomenda {
          font-size: rem-calc(20);
          font-weight: 300;

          h3 {
            font-size: rem-calc(20)
          }

          strong {
            font-weight: 400;
          }

          small {
            font-size: rem-calc(16);
          }

          address {
            font-style: normal;
            a {
              color: #4f4f4f;
              &:hover, &:focus {
                border-bottom: 1px solid #02C7FF
              }
              .fa {
                margin-right: rem-calc(10);
                color: #02c7ff;
              }
            }
          }

          .representative-chat {
            .text-representative {
              font-size: rem-calc(30);
            }

            & hr {
             border-color: #02C7FF;
             border-width: 2px;
             width: rem-calc(100);
             margin: rem-calc(40 0);
           }

           .text-chat {
             font-size: rem-calc(20);
           }
          }

          .button-chat {
            text-transform: uppercase;
            margin-top: rem-calc(40);
            font-size: rem-calc(30);
            font-weight: 400;
            border-width: 2px;

            .fa {
              margin-right: rem-calc(10);
            }
          }
        }

        &#exportacao {
          address {
            font-size: rem-calc(15);
            font-weight: 300;
            margin-bottom: rem-calc(40);
            background-image: url("../images/identity/footer-ceramic-tile.png");
            background-position: left top;
            padding-left: rem-calc(80);
            background-repeat: no-repeat;
            font-style: normal;

            h3 {
              font-size: rem-calc(20);
              text-transform: uppercase;
              color: #29C2F1;
            }
          }
        }
      }
    }

    .wpsl-search {
      margin-bottom: 0;
      background-color: #02C7FF;
      display: inline-block;
      padding: rem-calc(10);
      position: relative;
      z-index: 1;
      margin-bottom: rem-calc(-50);
    }

    .wpsl-gmap-canvas {height:rem-calc(650) !important;}

    .wpsl-input {
      padding: rem-calc(20);
      margin: 0;
      @include breakpoint(small only) {
        width: 75%!important;
      }

      label {
        width: auto;
        color: #FFF;
        font-size: rem-calc(30);
      }
    }

    #wpsl-result-list {
      display: none;
    }



    #wpsl-search-input  {
      color: #FFF;
      width: 80%!important;
      @include breakpoint(medium){
        width: rem-calc(500)!important;
      }
      background: transparent;
      border: none;
      box-shadow: none;
      border-radius: 0;
      border-bottom: 1px solid transparent;
      &:focus {
        border-color: #FFF;
      }

      &::-webkit-input-placeholder { /* Chrome */
        color: #FFF;
        transition: opacity 250ms ease-in-out;
      }
      &:focus::-webkit-input-placeholder {
        opacity: 0.5;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #FFF;
        transition: opacity 250ms ease-in-out;
      }
      &:focus:-ms-input-placeholder {
        opacity: 0.5;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: #FFF;
        opacity: 1;
        transition: opacity 250ms ease-in-out;
      }
      &:focus::-moz-placeholder {
        opacity: 0.5;
      }
      &:-moz-placeholder { /* Firefox 4 - 18 */
        color: #FFF;
        opacity: 1;
        transition: opacity 250ms ease-in-out;
      }
      &:focus:-moz-placeholder {
        opacity: 0.5;
      }

      &.wpsl-error {
        border: none!important;
        border-bottom: 1px solid #fff!important;
      }
    }

    .wpsl-search-btn-wrap {
      margin: 0;
      clear:none!important;
    }

    #wpsl-search-btn {
      background: transparent;
      border: none;
      box-shadow: none;
      border-radius: 0;
      padding: 0 rem-calc(20);
      color: #FFF;
      font-size: rem-calc(50);
      vertical-align: middle;
      margin: 0;
      &:hover, &:focus {
        color: #4f4f4f;
      }
    }
  }

  .catalogos {
    .link-catalogo {
      display: block;
      color: #4f4f4f;
      text-align: center;

      img {
        display: block;
        margin: 0 auto rem-calc(10) auto;
      }

      .text-title {
        text-transform: uppercase;
      }

      .text-info {
        color: #bbb;
        font-size: rem-calc(12);
      }
    }
  }

  .manuais-tecnicos {
    .accordion {
      .accordion-item {
        margin-bottom: rem-calc(10);
        border-bottom: 1px solid  #4f4f4f;
        .accordion-title {
          text-transform: uppercase;

          &:hover, &:focus {
            color: #FFF;
          }
        }

        .accordion-content {
          .link-manual {
            display: inline-block;
            margin-bottom: rem-calc(40);
            color: #4f4f4f;

            &:hover, &:focus {
              .text-title {
                text-decoration: underline;
              }
            }

            &:only-child, &:last-child {
              margin-bottom: 0;
            }

            .text-title {
              text-transform: uppercase;
            }

            .text-info {
              color: #bbb;
              font-size: rem-calc(12);
            }
          }
        }
      }
    }

  }


}
:last-child > .accordion-content:last-child, :last-child:not(.is-active) > .accordion-title {
  border-bottom: none;
}

.dropdown-pane.large {
  right: 0;
}