#page {
  @include grid-row();

  .main-content {
    @include breakpoint(medium down) {
      @include grid-column(12);
    }

    @include breakpoint(large) {
      @include grid-column(10);
    }
  }
}
