#page-dicas {
  @include grid-row();

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    h2 {
      font-size: rem-calc(40);
      font-weight: 300;
      position: relative;
      line-height: 1.3;
      padding-bottom: rem-calc(13);
      margin-bottom: rem-calc(30);
      text-transform: uppercase;
      color: #505050;

      & strong {
        font-weight: 400;
      }

      &::after {
        content: "";
        position: absolute;
        height: rem-calc(1);
        width: rem-calc(70);
        background-color: #02c7ff;
        bottom: 0;
        left: 0;
      }
    }

    .column-block{
      height: rem-calc(430);
      background-color: #4f4f4f;
      margin-bottom: 0;
      padding: 0;


      &.double {
        height: rem-calc(860);
      }

      &.white {
        background-color: #FFF;
      }

      & .va-m {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: rem-calc(40);
      }

      & > a {
        display: block;
        height: 100%;
        color: #FFF;
        text-align: center;
        padding: rem-calc(40);
        background-position: center;
        background-size: 100% 100%;
        transition: all .2s ease-out;

        & .dicas-title {
          font-size: rem-calc(30);
          display: block;
        }

        & .dicas-subtitle {
          font-size: rem-calc(20);
          display: block;
        }

        &:hover, &:focus {
          background-size: 120% 120%;
          transition: all .5s ease-in;
        }
      }

      & p {
        font-size: rem-calc(26);
      }
    }
  }
}
