#page-products {
  @include grid-row();

  .formats-button {
    display: block;
    @include breakpoint(medium) {
      display: none;
    }

    &::after {
      border-color: #4f4f4f transparent transparent;
    }
  }
  .formats-pane {
    @include breakpoint(small only) {
      @include dropdown-container;
    }
  }

  .formats-widget {
    ul {
      list-style: none;
      margin: 0 0 rem-calc(80) 0;
      font-size: 0;

      li {
        border-bottom: 1px solid #4f4f4f;
        @include breakpoint(medium) {
          display: inline-block;
          vertical-align: top;
          border: 1px solid #4f4f4f;
          margin: 0 -1px rem-calc(20) 0;
          text-align: center;
          min-width: rem-calc(95);
        }


        a {
          display: block;
          padding: rem-calc(10);
          color: #4f4f4f;
          font-size: rem-calc(12);
          text-transform: uppercase;
          width: 100%;
          font-weight: 500;

          &:hover, &:focus {
            color: #FFF;
            background-color: #4F4F4F;
          }
        }

        &.current-cat a {
          color: #FFF;
          background-color: #4F4F4F;
        }
      }
    }
  }

  .main-content {
    @include breakpoint(medium down) {
      @include grid-column(12);
    }

    @include breakpoint(large) {
      @include grid-column(10);
    }

    .products-list {
      .product-container:last-of-type {
        clear: none;
      }
    }

    h2 {
      font-size: rem-calc(40);
      font-weight: 300;
      position: relative;
      line-height: 1.3;
      padding-bottom: rem-calc(13);
      margin-bottom: rem-calc(30);
      text-transform: uppercase;
      color: #505050;

      & strong {
        font-weight: 400;
      }

      &::after {
        content: "";
        position: absolute;
        height: rem-calc(1);
        width: rem-calc(70);
        background-color: #02c7ff;
        bottom: 0;
        left: 0;
      }
    }

    .product {
      img {
        display: block;
        width: 100%;
        max-width: 300px;
        margin: auto;
      }
      .link-product {
        display: block;
        text-align: center;
        color: #4F4F4F;
        text-transform: uppercase;

        .product-title {
          display: block;
          margin-top: rem-calc(10);
        }
      }
    }
  }
}


.pagination-centered {
  text-align: center;
  margin-top: rem-calc(40);

  .pagination li {
    border: 1px solid #4f4f4f;
  }

  .pagination a:hover, .pagination button:hover {
    color: #FFF;
  }

  .pagination .ellipsis span {
    display: none;
  }

  .pagination .ellipsis::after {
    display: block;
  }

}