#page-applications {
  @include grid-row();

  .main-content {
    @include breakpoint(medium down) {
      @include grid-column(12);
    }

    @include breakpoint(large) {
      @include grid-column(10);
    }
  }

  .application {
    .link-application {
      color: #4f4f4f;
      font-size: rem-calc(14);
    }
  }
}

.gallery-modal {
  width: 100%;
  max-width: rem-calc(785);
  .bx-wrapper {
    & + .bx-wrapper {
      margin: rem-calc(-140) auto rem-calc(50);
    }
    .bx-viewport {
      left: 0;
      background-color: transparent;
    }
  }

  #bxslider {
    margin: 0;
  }

  #bx-pager {
    a {
      border: 1px solid #FFF;
    }
  }

  .application-infos {
    .infos {
      font-size: rem-calc(14);
      line-height: 2;
      padding-top: rem-calc(20);
    }
  }

  .close-button {
    z-index: 9;
    background: #fff;
    border-bottom-left-radius: rem-calc(30);
    padding: rem-calc(8 10);
    right: 0;
    top: 0;
  }
}

.aplicacoes-e-ambientes {

  .row:not(:first-of-type) {
    margin-bottom: 0!important;
  }

  a:not(.hollow) {
    display: block;
    height: rem-calc(200);
    text-align: center;
    background-position: center;
    border-right: 1px solid  #FFF;
    border-bottom: 1px solid  #FFF;
    @include breakpoint(medium) {
      background-size: 100% 100%;
      transition: all .2s ease-out;
    }

    &.link-cozinhas {
      @include breakpoint(medium) {
        height: rem-calc(400);
      }
      background-image: url("../images/identity/applications/bg-cozinhas.png");
    }
    &.link-banheiros {
      background-image: url("../images/identity/applications/bg-banheiros.png");
    }
    &.link-decoracoes {
      @include breakpoint(medium) {
        height: rem-calc(600);
      }
      background-image: url("../images/identity/applications/bg-decoracoes.png");
    }
    &.link-churrasqueiras {
      background-image: url("../images/identity/applications/bg-churrasqueiras.png");
    }
    &.link-edificios {
      @include breakpoint(medium) {
        height: rem-calc(400);
      }
      background-image: url("../images/identity/applications/bg-edificios.png");
    }
    &.link-piscinas {
      @include breakpoint(medium) {
        height: rem-calc(300);
      }
      background-image: url("../images/identity/applications/bg-piscinas.png");
    }

    &:hover, &:focus {
      @include breakpoint(medium) {
        background-size: 120% 120%;
        transition: all .5s ease-in;
      }
    }

    & span {
      display: inline-block;
      background-color: #FFF;
      padding: rem-calc(8 10);
      color: #4f4f4f;
      font-size: rem-calc(20);
      position: relative;
      top: 50%;
      transform: perspective(1px) translateY(-50%);
    }
  }

  .send-projects {
    text-align: center;
    @include breakpoint(medium) {
      height: rem-calc(300);
    }
    .vertical-align-center {
      @include breakpoint(medium) {
        position: relative;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
      }

      p {
        font-size: rem-calc(30);
        font-weight: 300;
        strong {
          color: #02C7FF;
          font-weight: 400;
          @include breakpoint(medium) {
            display: block;
          }
        }
      }
    }
  }
}