#single-post {
  @include grid-row();

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(10);
    }

    h1 {
      font-size: rem-calc(40);
      font-weight: 300;
      position: relative;
      line-height: 1.3;
      padding-bottom: rem-calc(13);
      margin-bottom: rem-calc(30);
      text-transform: uppercase;
      color: #505050;

      & strong {
        font-weight: 400;
      }

      &::after {
        content: "";
        position: absolute;
        height: rem-calc(1);
        width: rem-calc(70);
        background-color: #02c7ff;
        bottom: 0;
        left: 0;
      }
    }
  }
}
