#single-products {
  @include grid-row();

  .main-content {
    @include breakpoint(medium down) {
      @include grid-column(12);
    }

    @include breakpoint(large) {
      @include grid-column(10);
    }

    h2, .product-title {
      font-size: rem-calc(40);
      font-weight: 300;
      position: relative;
      line-height: 1.3;
      padding-bottom: rem-calc(13);
      margin-bottom: rem-calc(30);
      text-transform: uppercase;
      color: #505050;



      & strong {
        font-weight: 400;
      }

      &::after {
        content: "";
        position: absolute;
        height: rem-calc(1);
        width: rem-calc(70);
        background-color: #02c7ff;
        bottom: 0;
        left: 0;
      }
    }

    .product-details-container {
      background-color: #f7f5f5;
      clear: both;
      padding: rem-calc(20);
      line-height: 2;
      margin-bottom: rem-calc(40);

      .two-columns {
        padding-bottom: rem-calc(40);
        font-size: rem-calc(14);
        @include breakpoint(large) {
          column-count: 2;
          column-fill: auto;
          height: rem-calc(340);
        }
      }

      img {
        width: 100%;
        max-width: rem-calc(300);
        margin: auto;
        display: block;
      }

      strong {
        font-weight: 500;
        text-transform: uppercase;
      }

      .text-right {
        .button {
          @include breakpoint(medium down){
            @include button-expand(true);
          }
        }
      }

      .button {
        text-transform: uppercase;
        margin-right: rem-calc(20);

        &.button-more {
          height: rem-calc(50);
          height: rem-calc(120);
          font-weight: 500;

          .fa {
            font-size: rem-calc(30);
            display: block;
            margin-bottom: rem-calc(20);
            margin-top: rem-calc(20);
          }
        }

        &:last-of-type {
          margin-right: 0;
        }
      }

      .applications-container {
        .applications-row {
          background-color: #FFF;
          @include grid-row(7) {
            .applications-columns-1 {
              @include breakpoint(small) {
                @include grid-column(7);
              }
              @include breakpoint(medium) {
                @include grid-column(2,0);
              }
              @include breakpoint(large) {
                @include grid-column(1,0);
              }
            }
            .applications-columns-6 {
              @include breakpoint(small) {
                @include grid-column(7);
              }
              @include breakpoint(medium) {
                @include grid-column(5,0);
              }
              @include breakpoint(large) {
                @include grid-column(6,0);
              }
            }
          }
        }
        .applications-label {
          font-size: rem-calc(14);
          text-transform: uppercase;
          font-weight: 500;
        }

        .application {
          line-height: 1.3;
          text-align: center;
          text-transform: uppercase;
          font-size: rem-calc(14);
          margin-top: rem-calc(30);
          opacity: .2;
          font-weight: 500;

          &.used {
            opacity: 1;
          }

          & img {
            margin: auto;
            display: block;
            width: 100%;
            max-width: rem-calc(65);
          }
        }
      }
    }

    & #slide-applications {
      margin-bottom: rem-calc(80);
    }

    & .send-your-project {
      background-color: #f7f5f5;
      padding: rem-calc(50 40);
      margin-bottom: rem-calc(80);

      & .project-teaser {
        font-size: rem-calc(25);
        font-weight: 400;
        line-height: 1.3;

        & strong {
          color: #02C7FF;
          font-weight: 400;
          @include breakpoint(medium) {
            display: block;
          }
        }
      }

      & hr {
        border-color: #02C7FF;
        border-width: 2px;
        width: rem-calc(100);
        margin: rem-calc(40 0);
      }

      & .project-text {
        font-size: rem-calc(20);
        font-weight: 300;
      }

      & .button {
        @include breakpoint(large) {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          text-transform: uppercase;
        }
      }
    }

    .related-products {
      .related-product-title {
        display: block;
        margin-top: rem-calc(10);
        text-align: center;
        color: #4F4F4F;
        text-transform: uppercase;
      }
    }
  }
}

.gallery-modal {
  #application-gallery {
    .gallery-item {
      .gallery-item-info {
        padding: rem-calc(20);
        font-size: rem-calc(14);
      }
    }
  }
}
