/*!
  BxSlider Integration for WordPress
  WordPress plugin written by Vincent Prat, Marvinlabs (www.marvinlabs.com)
*/
.bx-wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  *zoom:1}

.bx-wrapper img {
  max-width: 100%;
  display: block
}

.bx-wrapper .bx-viewport {
   left: -5px;
  background: #fff;
  -webkit-transform: translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
}

.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%
}

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(../javascript/vendor/bxslider/images/bx_loader.gif) center center no-repeat #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000
}


.bx-wrapper .bxpager a {
 border: 1px solid #fff;
 margin-left: -1px;
}

.bx-wrapper .bxpager a.active {
 border-color: #333;
}

.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px
}

.bx-wrapper .bx-pager .bx-pager-item,.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom:1;*display: inline
}

.bx-wrapper .bx-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 1px 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

.bx-wrapper .bx-pager a:hover,.bx-wrapper .bx-pager a.active {
  background: #000
}
.bx-wrapper .bx-prev {
  left: 10px;
  opacity: .8;
}

.bx-wrapper .bx-prev::after {
  content: "\f053";
  color: #FFF;
  font-size: rem-calc(40);
  position: absolute;
  left: 0;
  top: 0;
  text-indent: 0;

}

.bx-wrapper .bx-next {
  right: 10px;
  opacity: .8;
}

.bx-wrapper .bx-next::after {
  content: "\f054";
  color: #FFF;
  font-size: rem-calc(40);
  position: absolute;
  right: 0;
  top: 0;
  text-indent: 0;

}

.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-next:hover {
  opacity: 1;
}


.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
  @extend .fa;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none
}

.bx-wrapper .bx-controls-auto {
  text-align: center
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url(../img/controls.png) -86px -11px no-repeat;
  margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-start:hover,.bx-wrapper .bx-controls-auto .bx-start.active {
  background-position: -86px 0
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url(../img/controls.png) -86px -44px no-repeat;
  margin: 0 3px
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,.bx-wrapper .bx-controls-auto .bx-stop.active {
  background-position: -86px -33px
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px
}

.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666\9;
  background: rgba(80,80,80,0.75);
  width: 100%
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px
}

.bxslider-gallery.adaptive-height-off .gallery-wrapper .bxslider img {
  height: 500px;
  width: auto;
  margin: 0 auto;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff
}

.bxslider-gallery.adaptive-height-off .gallery-wrapper .bx-wrapper .bx-viewport {
  box-shadow: 0 0 0 #ccc;
  border: 0px none;
  padding: 5px
}
