#featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem-calc(400);
  background-color: #AAA;

  @include breakpoint(medium) {
    height: rem-calc(695);
  }

  &.small-header {
    height: rem-calc(290);
  }

  & .featured-title {
    color: #FFF;
    font-size: rem-calc(20);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;

    & h1 {
      font-size: rem-calc(50);
      text-transform: uppercase;
    }

    & p {
      max-width: rem-calc(650);
      display: inline-block;
    }
  }
}
