
.search-bar {
  @include grid-row(12);
  @include breakpoint(large) {
    margin-top: rem-calc(-65);
    margin-bottom: rem-calc(-65);
  }

  & .search-container {
    @include grid-column(12,0);
    background-color: #f9f7f7;
    position: relative;
    z-index: 1;
    box-shadow: 0px 6px 15px -5px rgba(0,0,0,.3);

    & .search-toggle {
      display: block;
      position: relative;
      padding: rem-calc(40 35);
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: #4f4f4f;

      & .fa-search {
        font-size: rem-calc(32);
        vertical-align: middle;
        @include breakpoint(medium) {
          font-size: rem-calc(50);
        }
      }

      & .placeholder-text {
        font-size: rem-calc(16);
        font-weight: 300;
        margin-left: rem-calc(20);
        vertical-align: middle;
        @include breakpoint(medium) {
          font-size: rem-calc(20);
          margin-left: rem-calc(40);
        }
      }

      & .search-carets {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #02c7ff;
        padding: rem-calc(0 15);
        vertical-align: middle;
        line-height: 1;
        @include breakpoint(medium) {
          padding: rem-calc(0 30);
        }

         & .fa {
           font-size: rem-calc(50);
           color: #FFF;
           position: relative;
           top: 50%;
           transform: translateY(-50%)
         }
      }
    }

    & .search-content {
      padding: rem-calc(40 35);
      position: absolute;
      background-color: #f9f7f7;
      width: 100%;
      box-shadow: 0px 6px 15px -5px rgba(0,0,0,.3);



      & .search-disponibilidade {
        font-size: 0;

        & input[type="radio"] {
          display: none;

          & + label {
            display: inline-block;
            padding: rem-calc(15 20);
            border: 1px solid #4f4f4f;
            text-transform: uppercase;
            font-size: rem-calc(16);
            margin: 0;
            width: 50%;
            text-align: center;

            &:last-child {
              margin-left: -1px;
            }
          }

          &:checked + label {
            background-color: #4f4f4f;
            color: #FFF;
          }
        }
      }

      & .search-taxonomies-selector {
        text-align: center;

        & input[type="radio"] {
          display: none;

          & + label {
            margin-top: rem-calc(15);
            font-weight: 300;
            text-transform: uppercase;
            cursor: pointer;
            &::before {
              @extend .fa;
              content: "\f10c";
              font-size: rem-calc(20);
              margin-right: rem-calc(10);
            }
          }

          &:checked {
            & + label {
              &::before {
                content: "\f111";
              }
            }
          }
        }
      }

      & .search-colors {
        margin: rem-calc(40 0);
        text-align: center;

        &  p {
          text-align: left;
        }

        & input[type="checkbox"] {
          display: none;

          & + label {
            display: inline-block;
            text-align: center;
            text-transform: uppercase;
            font-size: rem-calc(12);
            margin-bottom: rem-calc(10);

            & .color-square {
              display: block;
              margin: 0 auto rem-calc(5) auto;
              width: rem-calc(36);
              height: rem-calc(36);
              border: 2px solid  transparent;
            }
          }

          &:checked {
            & + label {
              & .color-square {
                border-color: #4f4f4f;
              }
              & .color-name {
                border-bottom: 1px solid  #02c7ff;
              }
            }
          }
        }
      }

      & .search-formats {
        margin: rem-calc(40 0);
        font-size: 0;
        text-align: center;

        &  p {
          font-size: rem-calc(16);
          text-align: left;
        }

        & input[type="radio"] {
          display: none;

          & + label {
            display: inline-block;
            margin: 0 0 rem-calc(10 -1);
            padding: rem-calc(8 10);
            border: 1px solid  #4f4f4f;
            text-transform: uppercase;
            font-size: rem-calc(14);

            &:first-child {
              margin-left: 0;
            }
          }

          &:checked {
            & + label {
              background-color: #4f4f4f;
              color: #FFF;
            }
          }
        }
      }

      & .search-ambients {
        margin: rem-calc(40 0);
        text-align: center;

        &  p {
          text-align: left;
        }

        & input[type="radio"] {
          display: none;

          & + label {
            display: inline-block;
            text-transform: uppercase;
            font-size: rem-calc(14);
            text-align: center;
            width: rem-calc(130);
            vertical-align: top;

            & .ambient-image {
              display: block;
              margin: 0 auto rem-calc(5) auto;
            }
          }

          &:checked {
            & + label {
              & .ambient-title {
                border-bottom: 1px solid  #02c7ff;
              }
            }
          }
        }
      }

      & .search-button-bar {
        margin: rem-calc(40 0);

        & .button {
          float: right;
          text-transform: uppercase;
        }
      }
    }


  }
}