#footer {
  background-color: #EDEDED;
  position: relative;
  margin-top: rem-calc(80);
  padding-top: rem-calc(80);
  padding-bottom: rem-calc(80);

  &::before {
    content: url("../images/identity/footer-ceramic-tile.png");
    position: absolute;
    top: rem-calc(-20);
    left: 30%;
  }

  & .subscribe {
    ::-webkit-input-placeholder { /* Chrome */
      color: #4f4f4f;
      transition: opacity 250ms ease-in-out;
    }
    :focus::-webkit-input-placeholder {
      opacity: 0.5;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #4f4f4f;
      transition: opacity 250ms ease-in-out;
    }
    :focus:-ms-input-placeholder {
      opacity: 0.5;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #4f4f4f;
      opacity: 1;
      transition: opacity 250ms ease-in-out;
    }
    :focus::-moz-placeholder {
      opacity: 0.5;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
      color: #4f4f4f;
      opacity: 1;
      transition: opacity 250ms ease-in-out;
    }
    :focus:-moz-placeholder {
      opacity: 0.5;
    }

    & .subscribe-text {
      font-size: rem-calc(23);
      font-weight: 300;

      & strong {
        font-weight: 400;
      }
    }

    & .rm_form_container {
      width: auto;
      padding: 0;

      .rm_form_el_set {
        padding: 0;

        & .rm_form_label {
          @extend .show-for-sr;
        }

        & .rm_form_field {
          border: none;
          padding-left: rem-calc(40);
        }

        &.rm_form_el_name {
          position: relative;
          &::before {
            @extend .fa;
            content:"\f007";
            line-height: 39px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 15px;
          }
        }

        &.rm_form_el_email {
          position: relative;
          &::before {
            @extend .fa;
            content:"\f0e0";
            line-height: 39px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 15px;
          }
        }

        &.rm_form_el_button {
          text-align: right;
          & .rm_form_field {
            @extend .button;
            @extend .primary;
            color: #FFF;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  & .footer-links {
    text-align: center;
    margin-top: rem-calc(40);
    @include breakpoint(medium) {
      text-align: right;
      margin-top: 0;
    }

    a {
      color: #505050;
      font-size: rem-calc(18);
      font-weight: 300;
      display: inline-block;
      margin-right: rem-calc(20);
      margin-bottom: rem-calc(20);
      border: 1px solid transparent;
      @include breakpoint(medium) {
        margin-right: rem-calc(40);
      }
      &:last-of-type {
        margin-right: 0;
      }
      &:hover, &:focus {
        border-bottom-color: #02C7FF;
      }

      & .fa {
        margin-right: rem-calc(10);
      }
    }
  }

  & hr {
    border-color: #02C7FF;
    border-width: 1px;
    width: 90%;
    margin-right: 0;
    margin-top: rem-calc(40);
    margin-bottom: rem-calc(40);
  }

  & address {
    font-style: normal;
    text-align: right;

    & .fa-phone, & .fa-envelope {
      font-size: rem-calc(20);
      color: #55C4F0;
      margin-right: rem-calc(10);
    }

    & .fa-envelope {
      margin-left: rem-calc(20);
    }

    & .link-phone, & .link-email {
      color: #505050;
      font-size: rem-calc(20);
      font-weight: 400;
      border-bottom: 1px solid transparent;

      &:hover, &:focus {
        color: #505050;
        border-bottom-color: #29c2f1;
      }
    }

    & .address-text {
      font-size: rem-calc(12);
      font-weight: 300;
      display: inline-block;
      margin: rem-calc(20 0);
    }

    & .fa-instagram, & .fa-facebook-square {
      font-size: rem-calc(20);
      color: #505050;
      margin-right: rem-calc(10);
    }

    & .social-text {
      font-size: rem-calc(15);
      font-weight: 300;
    }

    & a {
      &:hover .fa, &:focus .fa {
        color: #29c2f1;
      }
    }
  }
}

.two-bar {
  background-color: #FFF;
  font-size:  rem-calc(12);
  color: #B1B1B1;
  padding: rem-calc(10 0);
}