$icomoon-font-path: "../fonts" !default;
$icon-icon-1: "\e900";
$icon-icon-2: "\e901";


@font-face {
  font-family: 'icons-ceratlas';
  src:  url('#{$icomoon-font-path}/icons-ceratlas.eot?9scxgi');
  src:  url('#{$icomoon-font-path}/icons-ceratlas.eot?9scxgi#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icons-ceratlas.ttf?9scxgi') format('truetype'),
    url('#{$icomoon-font-path}/icons-ceratlas.woff?9scxgi') format('woff'),
    url('#{$icomoon-font-path}/icons-ceratlas.svg?9scxgi#icons-ceratlas') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons-ceratlas' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-1 {
  &:before {
    content: $icon-icon-1;
  }
}
.icon-icon-2 {
  &:before {
    content: $icon-icon-2;
  }
}

