// Navigation breakpoints
.desktop-menu {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

#responsive-menu {
  position: relative;
  z-index: 10;
}

// Mobile menu
.off-canvas {
  > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #333;
  }
}

.no-scroll {
  overflow: hidden !important;
  padding-right: 17px;
}

// Tablet and desktop menu
.top-bar {
  height: rem-calc(80);
  padding: rem-calc(10 0);

  .top-bar-title {
    position: relative;
    z-index: 11;
    & a {
      margin-left: rem-calc(20);
      @include breakpoint(medium) {
        margin-left: 0;
      }
    }
  }

  .top-bar-right {
    width: auto;
    position: absolute;
    right: rem-calc(10);
    @include breakpoint(medium) {
      position: relative;
      right: auto;
    }

    & .dropdown-pane {
      z-index: 11;
    }
  }

  & .fa {
    font-size: rem-calc(30);
  }

  input {
    max-width: 100%;

  }

  .menu a {
    color: #727273;
    padding-top: 0;
    padding-bottom: 0;
    font-size: rem-calc(15);
    border-bottom:1px solid #fff;
    text-transform: uppercase;

    &:hover, &:focus {
      border-bottom: 1px solid #29c2f1;
    }
  }

  .menu .active > a {
    background-color: #FFF;
    border-bottom: 1px solid #29c2f1;
    color: #29c2f1;
  }

  .menu>li:not(.menu-text)>a {
    padding: rem-calc(10 0);
    margin: rem-calc(10 20);
  }

  .dropdown.menu .submenu {
    background-color: #343434;
    color: #fff;
    border: 0;
  }

  .dropdown.menu .submenu a {
    color: #FFF;
    border-bottom: none;
    padding: rem-calc(15 10);
    margin: rem-calc(5 0);

    &:hover, &:focus {
      background-color: #29c2f1;
    }
  }

  .dropdown.menu > .current_page_item > a {
    background-color: #FFF;
    border-bottom: 1px solid #29c2f1;
    color: #29c2f1;
  }

  .dropdown.menu .current-menu-parent .current-menu-item > a {
    color: #FFF;
    border: none;
    background-color: #29c2f1
  }

  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }
  .dropdown.menu .has-submenu.is-down-arrow > a::after {
    border: 0;
  }

  .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after {
    display: none;
  }

  .full-menu-toggler.button.hollow.secondary {
    border: none;
    position: relative;
    z-index: 11;
    margin-top: rem-calc(5);
    @include breakpoint(medium up) {
      & .fa-times {
        color: #FFF;
      }
    }
  }
}

.full-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #FFF;
  z-index: 10;
  -webkit-transition-duration: 150ms !important;
    transition-duration: 150ms !important;

  @include breakpoint(small only) {
    overflow-y: auto;
  }

  & .row {
    height: 100%;
  }

  & .left-column, & .right-column {
    padding-top: rem-calc(135);
  }

  & .left-column {
    & .medium-6 {
      @include breakpoint(medium) {
        width: 56%;
        float: right !important;
      }
    }

    & hr {
      border-color: #727272;
      width: rem-calc(20);
      margin: rem-calc(40 0);
    }

    address {
      font-style: normal;

      & .fa-phone, & .fa-envelope {
        font-size: rem-calc(20);
        color: #55C4F0;
        margin-right: rem-calc(10);
      }

      & .link-phone, & .link-email {
        color: #505050;
        font-size: rem-calc(20);
        font-weight: 400;
        border-bottom: 1px solid transparent;

        &:hover, &:focus {
          color: #505050;
          border-bottom-color: #29c2f1;
        }

      }

      & .address-text {
        font-size: rem-calc(12);
        font-weight: 300;
        display: inline-block;
        margin: rem-calc(20 0);
      }

      & .fa-instagram, & .fa-facebook-square {
        font-size: rem-calc(20);
        color: #505050;
        margin-right: rem-calc(10);
      }

      & .social-text {
        font-size: rem-calc(15);
        font-weight: 300;
      }

      & a {
        &:hover .fa, &:focus .fa {
          color: #29c2f1;
        }
      }
    }
  }

  & .right-column {
    background-color: #666;
    background-image: url("../images/identity/full-menu-bg/full-menu-bg-piscinas.png");
    background-position: left top;
    height: 100%;
  }
}

.menu-full-left {
  list-style: none;
  padding: 0;
  margin: 0;

  & a {
    font-size: rem-calc(20);
    font-weight:300;
    color: #505050;
    border-bottom: 1px solid transparent;

    &:hover, &:focus {
      border-bottom-color: #29c2f1;
    }
  }
}
.menu-full-right-container {
  margin-left: rem-calc(20);
  .menu-full-right {
    list-style: none;
    padding: 0;
    margin: 0;

    & li > a {
      font-size: rem-calc(20);
      font-weight:300;
      color: #fff;
      border-bottom: 1px solid transparent;

      &:hover, &:focus {
        border-bottom-color: #29c2f1;
      }
    }

    & a:not([href]) {
      font-size: rem-calc(12);
      color: #55C4F0;
      display: inline-block;
      margin-top: rem-calc(40);
      margin-bottom: rem-calc(10);
      text-transform: uppercase;
      cursor: default;
      border: none;
    }

    & .first a:not([href]) {
      margin-top: 0!important;
    }
  }
}

// Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix"
// https://css-tricks.com/snippets/css/clear-fix/
.post-navigation:before,
.post-navigation:after {
  content: "";
  display: table;
}

.post-navigation:after {
  clear:both;
}

// Text meant only for screen readers. Addresses part of theme-check issue #840.
// https://github.com/Automattic/_s/blob/master/style.css
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; // Above WP toolbar.
}

.nav-previous {
  float:left;
}

.nav-next {
  float:right;
}
