.sidebar {
  @include breakpoint(medium down) {
    display: none;
  }

  @include breakpoint(large) {
    display: block;
    @include grid-column(2);
  }

  h6 {
    color: #4F4F4F;
    text-transform: uppercase;
    font-size: rem-calc(20);
    &::after {
      @extend .fa;
      content: "\f107";
      margin-left: rem-calc(10);
    }
  }

  ul {
    list-style: none;
    margin:0 0 rem-calc(40) 0;
    li {
      a {
        color: #4F4F4F;
        text-transform: uppercase;
        &:hover, &:focus {
          text-decoration: underline;
        }
      }

      &.current-cat {
        a {
          text-decoration: underline;
        }
      }
    }
  }

  img {
    display: block;
    margin: auto;
  }
}
